/* Developer */
.developer-text-container{
    color: white;
  }
  
  .developer-text-header {
    color: white;
    font-family: digital-7;
    font-size: 9vw;
    text-align: center;
    margin: 5vw 0 4vw 0;
  }
  
  .developer-text-paragraph {
    color: white;
    font-size: 5vw;
  }
  
  .portfolio-container-row-1 {
    display: flex;
    flex-direction:row;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden; 
  }
  
  .portfolio-container-row-2 {
    display: flex;
    flex-direction:row;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden; 
  }

  .portfolio-container-row-3 {
   display: flex;
   flex-direction:row;
   position: relative;
   margin-top: 50px;
   margin-bottom: 50px;
   overflow: hidden; 
 }
  
  .dividers-line {
      border-top: 5px solid white;
      margin-top: 10px;
    }
  
  @media screen and (max-width: 900px) {
    .developer-text-container{
      color: white;
    }
  
    .developer-text-header {
      font-size: 15vw;
      margin: 18vw 0px 4vw 0;
    }
  
    .developer-text-paragraph {
      font-size: 10vw;
    }
    .portfolio-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2px;
    }
  
    .portfolio-container-row-1,
    .portfolio-container-row-2,
    .portfolio-container-row-3 {
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1px;
    }
  }