.contact-form-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text-header {
    color: white;
    font-family: digital-7;
    font-size: 5em;
    text-align: center;
}

.contact-form-text {
    color: white;
    font-family: digital-7;
    font-size: 3em;
    text-align: center;

}

.contact-form {
    max-width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient($blue, $orange);
    border: 3px solid $orange;
    font-family: digital-7;
    border-radius: 25px;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

label {
    color: white;
    font-size: 2vw;
    
}

.contact-form-name,
.contact-form-email,
.contact-form-subject,
.contact-form-message  {
    background-color: rgba(255, 255, 255, 0.15);
    border: 3px solid $orange;
    border-radius: 1rem;
    color: white;
    font-size: 1.5vw;
    margin: 1vw 1vw 1vw 1vw;
    padding: 1vw 1.3vw 1vw 1.3vw;
    min-width: 85%;

}

.contact-form-name:hover,
.contact-form-name:focus,
.contact-form-email:hover,
.contact-form-email:focus,
.contact-form-subject:hover,
.contact-form-subject:focus,
.contact-form-message:hover,
.contact-form-message:focus
 {
    color: white;
    border: 3px solid white;
    background-color: transparent;
}

.contact-form-submit{
    font-family: digital-7;
    background-color: transparent;
    color: white;
    border: 3px solid $orange;
    border-radius: 1rem;
    font-size: 2.5vw;
    padding: 1.3vw;
}

.contact-form-submit:hover,
.contact-form-submit:focus {
    // background-color: rgba(255, 255, 255, 0.15);
    color: $orange;
    border: 3px solid white;
}