.container,
.container-sm,
.container-xs {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1128px;
}

.container-sm {
  max-width: 944px;
}

.container-xs {
  max-width: 668px;
}

[class*=container] [class*=container] {
  padding-left: 0;
  padding-right: 0;
}
[class*=container] .container-sm {
  max-width: 896px;
}
[class*=container] .container-xs {
  max-width: 620px;
}

body {
  font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
}

.yeatman-logo {
  background-image: url("/src/assets/img/yeatman-logo.svg");
  border: none;
  /* width: 100%; */
  padding: 80px 0px 100px 0px;
  /* margin-top: 3px; */
  /* margin-bottom: 12px; */
  /* background-image: inherit; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-text {
  font-family: digital-7;
  text-align: center;
  font-size: 4.2vw;
  margin: 2.5vw 0 2.5vw 0;
}

@media screen and (max-width: 900px) {
  .yeatman-logo {
    padding: 11vw;
  }

  .header-text {
    font-size: 8vw;
  }
}
/* Footer */
footer {
  overflow: hidden;
  font-family: digital-7;
  background-color: #ca6410;
  border-top: 5px solid white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 2.5vw;
  margin-top: 2.5vw;
}

#footer-relative {
  position: relative;
  bottom: 0;
}

#footer-bottom {
  position: fixed;
  margin-top: 90%;
  bottom: 0;
}

/* Social media icon links*/
.foot-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-wrapper .icon-button {
  display: inline-block;
  height: 6vw;
  width: 6vw;
  margin: 0 1vw 0 1vw;
  overflow: hidden;
  background: #094D84;
  border-radius: 4vw;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.foot-wrapper .icon-button:hover {
  width: 20vw;
}

.foot-wrapper .icon-button .icon {
  display: inline-block;
  color: white;
  height: 6vw;
  width: 6vw;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 70px;
  transition: all 0.3s ease-out;
}

.foot-wrapper .icon-button:nth-child(1):hover .icon {
  background: var(--gray-d);
}

.foot-wrapper .icon-button:nth-child(2):hover .icon {
  background: var(--gray-d);
}

.foot-wrapper .icon-button:nth-child(3):hover .icon {
  background: var(--gray-d);
}

.foot-wrapper .icon-button .icon i {
  font-size: 3.5vw;
  line-height: 6vw;
  transition: all 0.3s ease-out;
}

.foot-wrapper .icon-button:hover .icon i {
  color: #fff;
}

.foot-wrapper .icon-button span {
  font-size: 2.5vw;
  line-height: 70px;
  margin: 0 1vw 0 1vw;
  transition: all 0.3s ease-out;
}

.icon-span {
  color: white;
}

.icon-anchor {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .foot-wrapper .icon-button {
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    margin: 0 1vw 0 1vw;
  }
  .foot-wrapper .icon-button .icon {
    height: 15vw;
    width: 15vw;
    line-height: 15vw;
    transition: none;
  }
  .foot-wrapper .icon-button .icon i {
    font-size: 9vw;
    line-height: 15vw;
  }
  .foot-wrapper .icon-button span {
    display: none;
  }

  .foot-wrapper .icon-button:hover {
    display: contents;
  }

  .foot-wrapper .icon-button:nth-child(1):hover .icon {
    background: #094D84;
  }

  .foot-wrapper .icon-button:nth-child(2):hover .icon {
    background: #094D84;
  }

  .foot-wrapper .icon-button:nth-child(3):hover .icon {
    background: #094D84;
  }
}
/* navbar */
.desktop-navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 1;
  padding: 10px;
  height: 3vw;
  border-radius: 15px;
  background-color: #ca6410;
}

.links {
  font-family: digital-7;
  float: right;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links li {
  list-style: none;
}
.links a {
  display: inline-block;
  margin: 0 2px 0 2px;
  font-size: 2.2vw;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #726f6f, 0px 0px 25px #726f6f;
}

.active {
  display: none;
}

.mobile-links {
  display: none;
}

.icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 900px) {
  /* navbar */
  .desktop-navigation {
    display: none;
  }

  .icon-burger {
    display: block;
    z-index: 2;
    position: relative;
    float: right;
    margin-top: 4vw;
  }
  .icon-burger .line {
    background-color: var(--org);
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 21.5vh;
    bottom: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }
  .mobile-links li {
    list-style: none;
  }
  .mobile-links a {
    text-decoration: none;
    color: white;
    font-size: 7vw;
    text-shadow: 0px 0px 8px #726f6f, 0px 0px 25px #726f6f;
  }
}
.dev-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#094D84, #ca6410);
  font-family: digital-7;
  border-radius: 25px;
  color: white;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.dev-info h1 {
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.dev-info a {
  text-decoration: none;
  color: white;
  flex-direction: row;
}

.dev-info i {
  font-size: 35px;
  margin-top: 10px;
  flex-direction: row;
}

.dev-icon-container {
  display: flex;
  flex-direction: row;
}

.dev-icon {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.dev-icon h4 {
  margin: 5px;
}

.dev-pic {
  max-width: 100%;
  max-height: 30vh;
  border: 3px solid #ca6410;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}

@media screen and (max-width: 900px) {
  .dev-info {
    /* flex-direction: column; */
    overflow: hidden;
    width: 85%;
    height: 85%;
  }
}
.contact-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.contact-form {
  max-width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(12, 12, 12, 0.404);
  border: 3px solid white;
  font-family: digital-7;
  border-radius: 25px;
  color: white;
  margin: 2vw 0 2vw 0;
  padding: 2vw 0 2vw 0;
  width: 100%;
}

label {
  color: white;
  font-size: 2vw;
  margin: 0.6vw 0vw 0.2vw 5vw;
}

.contact-form-name,
.contact-form-email,
.contact-form-subject,
.contact-form-message {
  background-color: rgba(255, 255, 255, 0.15);
  border: 3px solid #ca6410;
  border-radius: 1rem;
  color: white;
  font-size: 1.5vw;
  margin: 0.5vw auto 1vw auto;
  padding: 1vw 1.3vw 1vw 1.3vw;
  min-width: 85%;
}

.contact-form-name:hover,
.contact-form-name:focus,
.contact-form-email:hover,
.contact-form-email:focus,
.contact-form-subject:hover,
.contact-form-subject:focus,
.contact-form-message:hover,
.contact-form-message:focus {
  color: white;
  border: 3px solid white;
  background-color: transparent;
}

.contact-form-submit {
  font-family: digital-7;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border: 3px solid #ca6410;
  border-radius: 1rem;
  font-size: 2.5vw;
  padding: 1.3vw;
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  background-color: transparent;
  color: white;
  border: 3px solid white;
}

#contact-form-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vw auto 1vw auto;
}

.contact-form-result {
  margin: auto;
}

@media screen and (max-width: 900px) {
  .contact-form-container {
    min-height: 52vh;
  }

  .contact-form {
    min-height: 50vh;
    max-width: 90vw;
    border-radius: 25px;
    margin: 5.5vw 0 2.5vw 0;
    padding: 2vw 0 2vw 0;
    width: 100%;
  }

  label {
    color: white;
    font-size: 8vw;
    margin: 0.6vw 0vw 0.2vw 5vw;
  }

  .contact-form-name,
.contact-form-email,
.contact-form-subject,
.contact-form-message {
    background-color: rgba(255, 255, 255, 0.15);
    border: 3px solid #ca6410;
    border-radius: 1rem;
    color: white;
    font-size: 6.5vw;
    margin: 0.5vw auto 1vw auto;
    padding: 1vw 1.3vw 1vw 1.3vw;
    min-width: 85%;
    max-width: 94%;
  }

  .contact-form-submit {
    font-family: digital-7;
    border-radius: 1rem;
    font-size: 9.5vw;
    padding: 1.5vw;
    margin: 1.5vw;
  }
}
/* home pg */
.cont-profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vw;
}

.profile-pic {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #252525;
}

.about-text-home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  margin: 1vw 0 1vw 0;
  padding: 0;
  font-size: 2.5vw;
}

.dividers-line {
  border-top: 5px solid white;
  margin-top: 10px;
}

.icon-header {
  margin: 28px 5px 8px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4vw;
}

.code-logos-container {
  font-family: digital-7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 2vw;
}

.code-logos {
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 2.5vw;
  width: 18vw;
}
.code-logos img {
  max-width: 100%;
  height: auto;
  min-width: 30px;
}

.code-logos h3 {
  margin-top: -2.5vw;
}

.design-logos {
  font-family: digital-7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 2vw;
}
.design-logos img {
  max-width: 100%;
  height: auto;
  min-width: 30px;
}

.email {
  font-family: digital-7;
  margin: 1vw 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  font-size: 5vw;
}

@media screen and (max-width: 900px) {
  .cont-profile-pic {
    margin: 20vw 0 0 0;
  }

  .profile-pic {
    width: 60vw;
  }

  .about-text-home {
    padding: 0 1vw 0 1vw;
    font-size: 6vw;
    margin: 3vw 0 0 0;
  }

  .code-logos {
    width: 100%;
    font-size: 6.5vw;
  }

  .icon-header {
    padding: 0 1vw 0 1vw;
    font-size: 6.5vw;
  }

  .code-logos-container {
    grid-template-columns: 1fr 1fr;
  }

  .design-logos {
    grid-template-columns: 1fr 1fr;
  }

  .email {
    font-size: 7.5vw;
  }
}
/* Developer */
.developer-text-container {
  color: white;
}

.developer-text-header {
  color: white;
  font-family: digital-7;
  font-size: 9vw;
  text-align: center;
  margin: 5vw 0 4vw 0;
}

.developer-text-paragraph {
  color: white;
  font-size: 5vw;
}

.portfolio-container-row-1 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.portfolio-container-row-2 {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.portfolio-container-row-3 {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.dividers-line {
  border-top: 5px solid white;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .developer-text-container {
    color: white;
  }

  .developer-text-header {
    font-size: 15vw;
    margin: 18vw 0px 4vw 0;
  }

  .developer-text-paragraph {
    font-size: 10vw;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
  }

  .portfolio-container-row-1,
.portfolio-container-row-2,
.portfolio-container-row-3 {
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
  }
}
/* Designer pg */
.designer-text-container {
  color: white;
}

.designer-text-header {
  color: white;
  font-family: digital-7;
  font-size: 9vw;
  text-align: center;
  margin: 5vw 0 4vw 0;
}

.designer-text-paragraph {
  text-align: center;
  color: white;
  font-size: 5vw;
}

.dividers-line {
  border-top: 5px solid white;
  margin-top: 10px;
}

/* CSS grid */
.gd-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: minmax(400px, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  /* grid-template-rows: repeat(5, 400px); */
  grid-gap: 15px;
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  align-items: center;
  object-fit: cover;
  margin: 2vw 1vw 0 1vw;
}

.gd-gallery-img {
  max-width: 100%;
  height: auto;
  min-width: 30px;
}

@media screen and (max-width: 900px) {
  .designer-text-header {
    font-size: 15vw;
    margin: 18vw 0px 4vw 0;
  }

  .designer-text-paragraph {
    font-size: 10vw;
  }

  .gd-gallery {
    grid-template-columns: minmax(300px, 1fr);
    margin: 3vw;
  }
}
/* Photographer pg */
.photographer-text-container {
  color: white;
}

.photographer-text-header {
  color: white;
  font-family: digital-7;
  font-size: 9vw;
  text-align: center;
  margin: 5vw 0 4vw 0;
}

.photographer-text-paragraph {
  color: white;
  font-size: 5vw;
}

.dividers-line {
  border-top: 5px solid white;
  margin-top: 10px;
}

/* CSS grid */
.photography-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  overflow: hidden;
  margin: 2vw 1vw 0 1vw;
  padding: 25px 0 0 0;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.photography-gallery-img {
  max-width: 100%;
  height: auto;
  min-width: 30px;
}

@media screen and (max-width: 900px) {
  .photographer-text-header {
    font-size: 15vw;
    margin: 18vw 0px 4vw 0;
  }

  .photographer-text-paragraph {
    color: white;
    font-size: 10vw;
  }

  .photography-gallery {
    grid-template-columns: minmax(300px, 1fr);
    margin: 0px;
  }
}
/* about pg */
.about-text {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 2.5vw 0 0 0;
  padding: 0 1vw 0 1vw;
  font-size: 3vw;
}

.dividers-line {
  border-top: 5px solid white;
  margin-top: 10px;
}

.resume {
  background-color: var(--org);
  color: white;
  font-family: digital-7;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 0 0 0;
  font-size: 4.5vw;
}

.secret-message {
  font-family: digital-7;
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  margin: 1vw 0 0.5vw 0;
  padding: 0 1vw 0 1vw;
}

@media screen and (max-width: 900px) {
  /* about pg */
  .about-text {
    font-size: 6.5vw;
    padding: 0 2vw 0 2vw;
  }

  .resume {
    font-size: 9.5vw;
  }

  .secret-message {
    font-size: 5.5vw;
    margin: 1vw 0 0.5vw 0;
    padding: 0 1vw 0 1vw;
  }
}
.contact-text-container {
  color: white;
}

.contact-text-header {
  color: white;
  font-family: digital-7;
  font-size: 9vw;
  text-align: center;
  margin: 5vw 0 4vw 0;
}

.contact-text-paragraph {
  color: white;
  font-size: 5vw;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .contact-text-header {
    font-size: 15vw;
    margin: 18vw 0px 4vw 0;
  }

  .contact-text-paragraph {
    font-size: 10vw;
  }
}/*# sourceMappingURL=main.css.map */